<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Smart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/app.css'/>
</head>
<body id="body">
<div class="navbar navbar-fixed-top navbar-smart smaller" role="navigation" id="theheader">
    <div class="container clearfix">
        <div class="smart-header">
            <a class="logo" href="">
                <span class="get">Smart</span>
            </a>
            <div class="navbar-collapse collapse pull-right smart-header-menu">
                <ul class="smart-cate-nav">
                    <li class="dropdown  nosub active">
                        <button class="btn btn-smartnar dropdown-toggle" type="button" >
                            <a href="/">首页</a>
                        </button>
                    </li>

                    <li class="dropdown nosub">
                        <button class="btn btn-smartnar dropdown-toggle" type="button">
                            产品
                        </button>
                    </li>
                    <li class="dropdown nosub">
                        <button class="btn btn-smartnar dropdown-toggle" type="button" >
                            文档
                        </button>
                    </li>
                    <li class="dropdown nosub">
                        <button class="btn btn-smartnar dropdown-toggle" type="button">
                            论坛
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>